<section class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="footer-content">             
                <div class="footer-links">
                    <a href="https://github.com/Dositan/joldar">Github</a>
                    <a href="https://t.me/+nk4YJtv9z702MjIy">Telegram</a>
                    <a href="https://instagram.com/sbek22">Front-Instagram</a>
                    <a href="https://instagram.com/dastanozgeldi">Back-Instagram</a>
                </div>
            </div>
            <div class="footer-license">
                &copy; Jolshylar 2022
            </div>
        </div>
    </div>
</section>