{% extends 'base.html' %}
{% load base_extras %}

{% block content %}
<main>
    <div class="about-page">
        <h2>Актуальность</h2>
        <ul>
            <li>На данный момент в стране полно областей и районов с плохим качеством дорог</li>
            <li>Правительство не может или не слушает нарочно народ</li>
            <li>Данный веб-сайт позволяет людям оставлять отзывы насчет дороги</li>
            <li>Тем самым дав понять к каким местам отправлять подрядчиков</li>
        </ul>
        <hr />
        <h2>Идея проекта</h2>
            <p>Создатели данного проекта - Казахстанские ученики 9го класса.</p>
        <ul>
            <li>Проект создан для того, чтобы оставлять отзывы о качестве дорог</li>
            <li>Тем самым "худшие" дороги будут показываться в первую очередь, тем самым помогая правительству определиться с ремонтом.</li>
            <li>Создатели рассчитывают на одобрение правительства использовать проект в государственной основе.</li>
        </ul>
        <hr />
        <h2>О создателях</h2>
        <p>Создатели данного проекта - Казахстанские ученики 9го класса.</p>
        <ul>
            <li>Дастан Өзгелді - backend</li>
            <li>Бек Сламбек - frontend</li>
            <li>Дарын Жантілеу - graphic designer</li>
        </ul>
    </div>
</main>
{% endblock content %}