{% extends 'base.html' %}

{% block content %}
<main>
    <div class="about-page">
        <hr />
        <h2>Актуальность</h2>
        <ul>
            <li>На данный момент в стране полно областей и районов с плохим качеством дорог</li>
            <li>Правительство не может или не слушает нарочно народ</li>
            <li>Данный веб-сайт позволяет людям оставлять отзывы насчет дороги</li>
            <li>Тем самым дав понять к каким местам отправлять подрядчиков</li>
        </ul>
    </div>
</main>
{% endblock content %}