{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
<main class="delete-item layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{ request.META.HTTP_REFERER }}">
            <img class="arrow-img" src="{% static 'images/icons/arrow-left.svg' %}" />
          </a>
          <h3>{% translate "Back" %}</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="post">
          {% csrf_token %}
          <!-- <div class="form__group"> -->
          <p style="text-align: center;">{% translate "Are you sure you want to delete" %}</p>
          <p style="text-align: center;" >"{{obj}}"?</p>
          <!-- </div> -->

          <div class="confirm__group">
            <button class="btn btn--main" type="submit" value="Confirm">
              <img src="{% static 'images/icons/delete.svg' %}" />
              <p>{% translate "Confirm" %}</p>
            </button>
            <!-- <input class="btn btn--main" type="submit" value="Confirm" /> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
