{% extends 'base.html' %}
{% load base_extras %}
{% load static %}

{% block content %}
<main>
    <div class="container">
      <div class="reviews">
        <div class="review__box scroll"> 
            <div class="review__header scroll">
              <div class="review__author">
                <img src="{% static 'images/avatar.svg' %}" style="height: 36px;" />
                <h1><a href="#">@{{review.author.username}}</a></h1>
              </div>
              <div class="review__info">
                <h3><a href="{% url 'review' review.id %}">{{review.title}} - {{review.summary}}</a></h3>
                <div class="paragraph-wrapper">
                  <p>Created {{review.created | timesince}} ago</p>
                </div>
              </div>
            </div>
            <div class="review__conversation">
              <div class="threads scroll">
                <div class="thread">
                  <div class="thread__details">
                    {{ review.body | convert_markdown | safe }}
                  </div>
                </div>
              </div>
            </div>

            <div class="review__comment">
              <form action="" method="POST">
                {% csrf_token %}
                <input name="body" placeholder="Leave a comment..." />
              </form>
            </div>

            {% if request.user == review.author %}
            <a href="{% url 'update-review' review.id %}">
              <button class="btn btn--main">
               <img src="{% static 'images/icons/edit.svg' %}" />
               <p>Update</p>
             </button>
            </a>
            <a href="{% url 'delete-review' review.id %}">
               <button class="btn btn--main">
                <img src="{% static 'images/icons/remove.svg' %}" />
                <p>Remove</p>
              </button>
            </a>
            {% endif %}
        </div>
      </div>
      
      <div class="reviews">
        {% for comment in review_comments %}
        <div class="comment__box scroll"> 
          <div class="comment__header scroll">
            <div class="comment__author">
              <img src="{% static 'images/avatar.svg' %}" style="height: 36px;" />
              <h1><a href="#">@{{comment.author.username}}</a></h1>
            </div>
            <div class="comment__info">
              <div class="paragraph-wrapper">
                <p>Created {{comment.created | timesince}} ago</p>
              </div>
            </div>
          </div>
          <div class="comment__conversation">
            <div class="threads scroll">
              <div class="thread">
                <div class="thread__details">
                  {{ comment.body | convert_markdown | safe }}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</main>
{% endblock content %}